#beneficiary-table tbody th,
#beneficiary-table tbody td {
    vertical-align: middle;
}

#beneficiary-table tbody td p {
    line-height: 1em;
}

#fundTransfer button.accordion-button {
    color: #393b46;
    background-color: #fff;
}